.date-block {
    display: flex;
    align-items: center;
}
.date-text {
    margin-right: 10px;
}
.date-input {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-right: 10px;
}
.date-input input {
    margin-right: 10px;
    cursor: pointer!important;
}
.date-input input[name="DATE_REGISTER_TO"]{
    margin-left: 10px;
}