.form-filter{
    margin-top: 35px;    
}

.container-img {
    margin-bottom: 100px;
    margin-top: 15px;
}

.container-img img {
    width: 100%;
}
.filter-tender .highlight {
    display: inline;
}
.form-filter .filter-date__title{
    display: flex;
    justify-content: space-between;
}
.filter-date_reset{
    text-align: center;
}
.filter-date_reset:hover{
    text-decoration: none;
}