.form-filter{
    margin-top: 35px;    
}

.container-img {
    margin-bottom: 100px;
    margin-top: 15px;
}

.container-img img {
    width: 100%;
}
/*
.select__margin.selectbox-select{
    margin: 30px 0 0 0;
}*/
