.widget_user_profile{
    text-align: right;
}
.widget_user_profile_avatar {
    width: 45px;
    height: 45px;
    float: left;
    background: #e8e8e8;
    border-radius: 50%;
    position: relative;
}

.widget_user_profile_name {
    margin-left: 10px;
    max-width: 78%;
    user-select: none;
}
.widget_user_profile_name__title{
    position: relative;
    color: #ff6416;
}
.dropdown-arrow-profile{
    content: "";
    background: url(arr_profile.svg) no-repeat center;
    position: absolute;
    top: 5px;
    right: -17px;
    width: 12px;
    height: 12px;
}

.widget_user_profile_name__title:hover{
    text-decoration: none;
}

.widget_user_profile_fio {
    display: inline-block;
    width: 100%;
    color: #ff6416;
}
.widget_user_profile_name {
    cursor: pointer;
}
.widget_user_profile_select {
    box-shadow: 1px 3px 11px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    width: 92%;
    position: absolute;
    z-index: 100;
    background-color: white;
    top: 63px;
    left: 40px;
    text-align: left;
}
.widget_user_profile_avatar span{
    font-weight: bold;
    font-size: 25px;
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    color: #ffffff;
    margin: 0 auto;
    display: block;
    width: 50%;
    text-align: center;
}

.widget_user_profile_select ul {
    padding: 10px;
    margin: 0;
}

.widget_user_profile_select ul li{
    list-style-type: none;
    padding: 10px 16px 10px 16px;
}

.widget_user_profile_select a.exit-profile {
    border-top: 1px solid #F1F4F4;
    padding: 20px 26px;
}

/* .widget_user_profile_select::after {
    content: '';
    position: absolute;
    right: 20px;
    top: -20px;
    transform: rotate(180deg);
    border: 10px solid transparent;
    border-top: 10px solid #fff;
} */
.triangle {
    right: 20px;
    top: -15px;
    position: absolute;
    z-index: -1;
    transform: scaleX(2);
    color: #FFF;
    text-shadow: 0px -5px 11px rgba(0, 0, 0, 0.15);
    font-size: 14px;
}
.login-information{
    display: inline-block;
    /* float: right; */
}
.login-information .login-information-container{
    display: flex;
    align-items: center;
}
.login-information .login-information-photo{
    width: 51px;
    min-width: 51px;
    height: 51px;
    border-radius: 50%;
    background: #e8e8e8 url(image/icon-noPhoto-login.png) center center no-repeat;
    position: relative;
    /* margin-right: 15px; */
    margin-right: -2px;
}
.login-information .login-information-photo img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.login-information .login-information-message-counter{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    color: #ffffff;
    background-color: #ff6416;
    font-size: 12px;
    text-align: center;
    position: absolute;
    right: 0;
    top: 0;
}
.login-information .login-information-message-counter:hover{
    text-decoration: none;
}
.login-information .login-information-text a, .login-information .login-information-text span{
    display: block;
}
.container_prof{
    position: relative;
    /* cursor: default; */
}
.count_unread{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    text-align: center;
}
.count_unread.active{
    display: block;
}
@media screen and (max-width: 767px) {
    .login-information .login-information-photo {
        margin-right: 0;
    }
    .navbar .widget_user_profile{
        display:block;
    }
}

.link-messageList{
    cursor: pointer;
}