h2.title_line_button {
    float: left;
    width: 77%;
    font-size: 25px;
}

#add_pact,
#semd_mess {
    width: 22%;
    padding: 10px;
}

table th {
    color: #afafaf;
    padding: 20px 0 !important;
}

table td {
    color: #4f4f4f;
}

table th, table td {
    font-weight: 200; 
    vertical-align: middle !important; 
}

.avatar_pact {
    width: 45px;
    height: 45px;
    float: left;
    background: #ddd;
    margin-right: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar_pact a{
    text-decoration: none;
}

.avatar_pact a:hover{
    text-decoration: none;
}

.avatar_pact h3{
    text-align: center;
    height: 45px;
    padding: 5px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
}

button.onActive {
    border: none;
    background: #fff;
}
.first-face a {
    text-decoration: none
}
.first-face a h3{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background: #dddddd;
    text-align: center;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    min-width: 40px;
    line-height: 1.75;
}
.collapse-body_disabled{
    opacity: 0.5;
}

#dealDeleteWarning {
    height: 100%;
    position: fixed;
    z-index: 1000;
    width: 100%;
    /* display: none; */
    left: 0;
    top: 0;
}

.regpopup_win{
    background: #fff;
    padding: 20px;
    top: 200px;
    position: absolute;
    margin-top: -80px;
}

div#signpopup_close {
    cursor: pointer;
    float: right;
}
.expand-list {
    width: 100%;
    display: none;
    height: 65px;
    align-items: center;
    justify-content: center;
}
.hide-show-scroll{
    cursor: pointer;
}
.hide-show-scroll::before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-top: 2px solid #000000;
    border-left: 2px solid #000000;
    top: calc(50% - 4px);
    right: 0;
	-webkit-transform: rotate(45deg) scale(-1, -1);
    transform: rotate(45deg) scale(-1, -1);
    -webkit-transition: -webkit-transform 0.5s ease;
    transition: -webkit-transform 0.5s ease;
    transition: transform 0.5s ease;
    transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.hide-show-scroll.open::before {
	-webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 768px){
    .d-md-table-row.collapse-body[style="display: none;"] {
        display: none!important;
    }
    .expand-list {
        display: flex;
    }
}