.profile-block-hidden {
    display: none;
}

.profile-block-shown {
    display: block;
}

.profile-table {
    width: 100%;
}

.profile-link {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}

.profile-table td {
    vertical-align: top;
    width: 50%;
}

div.bx-auth-profile input.bx-auth-input {
    vertical-align: middle;
}

div.bx-auth-profile span.bx-auth-secure {
    background-color: #FFFAE3;
    border: 1px solid #DEDBC8;
    padding: 2px;
    display: inline-block;
    vertical-align: middle;
}

div.bx-auth-profile div.bx-auth-secure-icon {
    background-image: url(images/sec.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 19px;
    height: 18px;
}

div.bx-auth-profile div.bx-auth-secure-unlock {
    background-image: url(images/sec-unlocked.png);
}


/**/

.user_profile {
    font-family: Roboto;
}

.user_profile_header {
    min-height: 126px;
}

/* .user_profile_header h1 {
    font-size: 3.1rem;
    font-weight: 900;
} */

.user_profile_form h3 {
    font-size: 24px;
    font-weight: 900;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 14px;
}

.user_profile_form_editdata_foto {
    width: 165px;
    height: 165px;
    border-radius: 83px;
    position: relative;
}

.user_profile_form_editdata_foto img {
    cursor: pointer;
    height: 165px;
    border-radius: 83px;
    overflow: hidden;
}

.user_profile_form_editdata label,
.user_profile_form_fixdata label {
    padding-left: 21px;
    padding-bottom: 4px;
}

.user_profile_form_editdata input,.user_profile_form_editdata select,
.user_profile_form_fixdata input, .user_profile_form_fixdata select{
    padding: 14px 18px;
    margin-bottom: 6px;
    background: #f1f4f4;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ff6416;
    height: 52px;
}

.user_profile_form_editdata textarea{
    padding: 14px 18px;
    margin-bottom: 6px;
    background: #f1f4f4;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #ff6416;
    height: 200px;
}

.user_profile_form_editdata input:focus {
    outline: 1px solid #ff6416;
}


/*кнопка сохранения*/

.user_profile_form .save_profile_button {
    width: 164px;
    border: 1px solid #ff6416;
    color: #ff6416;
    background: none;
    border-radius: 5px;
    padding: 10px 30px;
    float: right;
}

.user_profile_form .save_profile_button:hover {
    color: #fff;
    background: #ff6416;
}

input:disabled {
    border: none;
    color: #9fa1a1;
}

#lichnue_dannue,
#bankovskie_dannue {
    margin-top: 48px;
}

.left_blok_margin {
    margin-top: 103px;
}

.left_blok_margin_ub {
    margin-top: 54px;
}

.left_blok_margin_first {
    margin-top: 54px;
}

.form-checkbox{
    display: flex;
    align-items: center;
}

.form-checkbox input{
    width: 20px;
    height: 20px;
}
.form-checkbox label{
    margin-bottom: 0;
}

.input_date{
    cursor:pointer;
}

div.add_company{
    margin-top: 20px;
}

/*@media (min-width: 1201px) {}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}*/

@media (min-width: 1201px) {
    #lichnue_dannue_top {
        display: none;
    }
}

@media (max-width: 1200px) {
    #lichnue_dannue_top {
        display: inline-block;
    }
    #lichnue_dannue_bottom {
        display: none;
    }
    .user_profile_form_editdata_foto {
        margin-bottom: 60px;
        margin-left: 50%;
        left: 2px;
    }
    .left_blok_margin_first {
        margin-top: 0px;
    }
}

@media (max-width: 992px) {
    #lichnue_dannue_top {
        display: inline-block;
    }
    #lichnue_dannue_bottom {
        display: none;
    }
}

@media (max-width: 768px) {
    #lichnue_dannue_top {
        display: inline-block;
    }
    #lichnue_dannue_bottom {
        display: none;
    }
    .user_profile_form_editdata_foto {
        margin-bottom: 60px;
        margin-left: 50%;
        left: -82px;
    }
    .left_blok_margin {
        margin-top: 0;
    }
    .left_blok_margin_ub {
        margin-top: 0;
    }
}

@media (max-width: 576px) {
    #lichnue_dannue_top {
        display: inline-block;
    }
    #lichnue_dannue_bottom {
        display: none;
    }
    .user_profile_form_editdata_foto {
        margin-bottom: 60px;
        margin-left: 50%;
        left: -82px;
    }
    .left_blok_margin {
        margin-top: 0;
    }
    .left_blok_margin_ub {
        margin-top: 0;
    }
}

/*Окно для редактирования*/
.avatar .avatar-hover-box{
    position: absolute;
    left: 0;
    bottom: -134px;
    background-color: #f1f4f4;
    padding: 0;
    width: 0;
    max-height: 0;
    opacity: 0;
    transition: all 0s ease 2s, opacity 1s ease 1s;
    overflow: hidden;
}
.avatar:hover .avatar-hover-box{
    display: block;
    opacity: 1;
    max-height: 150px;
    width: 194px;
    transition: opacity .5s ease;
    overflow: visible;
    padding: 10px;
}
.avatar .avatar-hover-box::before{
    content: "";
    width: 0px;
    height: 0px;
    border-right: 10px solid #f1f4f4;
    border-top: 10px solid #f1f4f4;
    border-left: 10px solid transparent;
    border-bottom: 10px solid transparent;
    transform: rotate(-45deg);
    position: absolute;
    top: -10px;
    left: calc(50% - 10px);
}
.avatar .avatar-hover-box .avatar-download,
.avatar .avatar-hover-box .avatar-delete{
    color: #000000;
    text-decoration: none;
    position: relative;
    padding-left: 40px;
    line-height: 2.4;
}
.avatar .avatar-hover-box .avatar-download:hover{
    color: #ff6416;
}
.avatar .avatar-hover-box .avatar-delete:hover{
    color: #e53925;
}
.avatar .avatar-hover-box .avatar-download::before{
    content: "";
    width: 0;
    height: 0;
    border-right: 6px solid #ff6416;
    border-top: 6px solid #ff6416;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    transform: rotate(135deg);
    position: absolute;
    top: 7px;
    left: 15px;
}
.avatar .avatar-hover-box .avatar-download::after{
    content: "";
    width: 8px;
    height: 10px;
    background-color: #ff6416;
    position: absolute;
    top: 3px;
    left: 17px;
}
.avatar .avatar-hover-box .avatar-delete::before{
    content: "";
    width: 3px;
    height: 20px;
    background-color: #e53925;
    position: absolute;
    top: 0;
    left: 20px;
    transform: rotate(45deg);
    border-radius: 2px;
}
.avatar .avatar-hover-box .avatar-delete::after{
    content: "";
    width: 3px;
    height: 20px;
    background-color: #e53925;
    position: absolute;
    top: 0;
    left: 20px;
    transform: rotate(-45deg);
    border-radius: 2px;
}

#button_calendar {
    width: 13%;
    height: 52px;
    float: left;
    border: 1px solid #FF6600;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    padding: 12px 8px 5px 10px;
    background-color: #f1f4f4;
}

#button_calendar img {
    width: 100%;
}

.user_profile_form_editdata a.btn {
    padding: 10px 30px;
    border-radius: 5px;
}