.cardPact .cardPact-box {
    width: 100%;
    overflow: hidden;
}

.cardPact .cardPact-box-BoxMainImg {
    width: 100%;
    max-height: 460px;
    overflow: hidden;
    margin-bottom: 20px;
}

.cardPact .cardPact-box-BoxPrewImg {
    width: 100%;
    overflow: hidden;
}

.cardPact .cardPact-box-BoxPrewImg .cardPact-box-BoxPrewImg-img {
    width: 150px;
    float: left;
}

.cardPact-rightPanel .btn {
    width: 100%;
}