
<p>Дополнительная информация:	Прошу заключить опционный договор на нижеприведенных условиях:</p>
<p style="text-align: center; font-weight: bold;">Опционный договор (контракт) на право продажи ценных бумаг</p>
<p style="text-align: center; font-weight: bold;">(Опцион Put) № ___________</p>
<table style="width: 100%;">
	<tr>
		<td style="width: 20%;">г.Чебоксары</td>
		<td style="width: 60%;"></td>
		<td style="width: 20%; text-align: right;">«___»________ 20__ г.</td>
	</tr>
</table>

<p>%FIO_USER%, именуемый (ая/ое) далее «Покупатель опциона», действующий(ая/ее) через АО «НФК-Сбережения» (далее – «Брокер»<sup>1</sup>), в лице директора Наумова Евгения Леонидовича, действующего на основании Устава, договора предусматривающего, брокерское обслуживание %N_CONTRACT_USER% от %DATA_START_C%, с одной стороны, и
<br>Общество с ограниченной ответственностью «НФК – Структурные инвестиции» (ОГРН 1182130013669, ИНН 2130207144), именуемое далее «Продавец опциона», действующее через АО «НФК-Сбережения» (далее – «Брокер»), в лице директора Наумова Евгения Леонидовича, действующего на основании Устава, договора предусматривающего, брокерское обслуживание №  У/1478 от «29» января 2019 г, с другой стороны,
при совместном либо раздельном упоминании именуемые далее «Стороны» либо «Сторона» соответственно, заключили настоящий договор (далее – Договор) о нижеследующем:</p>
<p>1. Покупатель опциона приобретает право потребовать от Продавца опциона выкупа, а Продавец опциона обязуется в случае предъявления Покупателем опциона требования (далее – Требование) в течение срока (периода) реализации права на исполнение опциона в порядке и на условиях, предусмотренных настоящим Договором, приобрести (выкупить) у Покупателя опциона следующие ценные бумаги (далее – Ценные бумаги) по их номинальной стоимости, действующей на дату фактического исполнения опциона, а также выплатить накопленный купонный доход на дату фактического исполнения опциона:</p>
<p>Биржевые облигации ООО «Пионер-Лизинг» документарные процентные неконвертируемые с обязательным централизованным хранением серии БО-П02 (идентификационный номер выпуска 4B02-02-00331-R-001P от 11.03.2019, ISIN RU000A1006C3) в количестве %COUNT_SP% штук.</p>
<p>Право на исполнение опциона возникает у Покупателя опциона при условии надлежащего исполнения обязательства по</p>
<p style="font-size: 9px; font-style: italic;"><sup>1</sup>Для целей настоящего договора под Брокером понимается Акционерное общество «Инвестиционная компания «НФК-Сбережения» (ОГРН 1172130010667, ИНН 2130190797), являющееся профессиональным участником рынка ценных бумаг, сведения о наличии лицензий и иная информация о котором представлены на сайте Брокера в сети Интернет по адресу: https://nfksber.ru/company/raskrytie-informacii</p>

<p> уплате опционной премии в соответствии с п. 2 настоящего Договора.
Под исполнением опциона ранее и далее по тексту настоящего Договора понимается совершение Сторонами сделки купли-продажи Ценных бумаг на основании Требования. 
Под датой фактического исполнения опциона ранее и далее по тексту настоящего Договора понимается дата совершения Сторонами сделки купли-продажи Ценных бумаг на основании Требования.
Под временем фактического исполнения опциона ранее и далее по тексту настоящего Договора понимается точное время (с указанием даты, часов, минут и секунд по Московскому времени) совершения Сторонами сделки купли-продажи Ценных бумаг на основании Требования.</p>
<p>Настоящий опционный договор является поставочным договором в значении пункта 2 Указания ЦБ РФ от 16.02.2015 № 3565-У «О видах производных финансовых инструментов».</p>

<p>2. Покупатель опциона обязуется в течение 10-и (десяти) рабочих дней с даты заключения настоящего Договора оплатить Продавцу опциона опционную премию в размере %SUMM_PR% </p> 
<p>Дата истечения опциона –  %END_DATE% г.</p> 
<p>Сроком (периодом) реализации права на исполнение опциона является срок, начинающийся за 5 (Пять) рабочих дней до даты истечения опциона и заканчивающийся датой истечения опциона включительно. Если дата истечения опциона выпадает на нерабочий день, то она переносится на первый следующий за ним рабочий день<sup>2</sup>.</p>
<p>3. В случае волеизъявления Покупателя опциона реализовать свое право на исполнение опциона (исполнить опцион), Покупатель опциона должен предъявить Продавцу опциона Требование путем совершения следующих действий в установленной ниже последовательности:</p> 
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;1)	 Подать Организатору торговли – ПАО «Московская Биржа ММВБ-РТС» через Брокера (либо иного уполномоченного брокера) в срок (период) реализации права на исполнение опциона, определяемый в соответствии с п. 2 настоящего Договора, адресную заявку на продажу Ценных бумаг в Режиме Переговорных Сделок (РПС) (далее – Адресная заявка) со следующими параметрами: </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Режим: РПС: Облигации;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Партнер: ИК НФК-Сбер [GC0294900000];
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Инструмент: Биржевые облигации ООО «Пионер-Лизинг», ISIN RU000A1006C3, код инструмента RU000A1006C3,
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;краткое наименование ПионЛизБП2; 
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Код расчетов: Z0;
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Цена: 100% от номинальной стоимости
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Количество<sup>3</sup> : (%COUNT_SP% шт.)
<br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Поручение: № %NUMBER_PUT%; </p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2)	 После подачи заявки, указанной в подп. 1 настоящего пункта Договора, в срок (период) реализации права на исполнение опциона, определяемый в соответствии с п. 2 настоящего Договора, подать заявку об исполнении опциона Продавцу опциона через Брокера, с использованием сервиса «Личный кабинет» на сайте Брокера в сети Интернет: lk.nfksber.ru по форме, приведенной в Приложении № 1 к настоящему Договору (далее – Заявка об исполнении опциона). Заявка об исполнении опциона должна быть подана в Личный кабинет Брокера не позднее, чем за два часа до окончания торговой сессии дня, в который была подана Адресная заявка.</p>

<p>4. При отсутствии и/или невозможности подать Адресную заявку через организатора торговли либо невозможности идентифицировать Адресную заявку, как поданную во исполнение настоящего Договора, и при наличии поданной Заявки об исполнении опциона, соответствующей условиям подп. 2 п. 3 настоящего Договора, Требование считается предъявленным, а исполнение опциона реализуется одним из следующих способов:</p>
<table style="width: 100%;">
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>1) Если на момент подачи Заявки об исполнении опциона общее количество Ценных бумаг из числа принадлежащих Покупателю опциона на праве собственности является достаточным для исполнения опциона, при этом учет прав 

			на такие Ценные бумаги осуществляется в депозитарии Акционерного общества «Инвестиционная компания «НФК-Сбережения» и в отношении таких Ценных бумаг не имеется обременений и/или ограничений, то в целях исполнения
				опциона такие Ценные бумаги подлежат списанию со счета депо Покупателя опциона в количестве, указанном в п. 1</p>
			</td>
	</tr>
</table>

<p style="font-size: 9px; font-style: italic;"><sup>2</sup>Для целей настоящего договора рабочим днем считается день, который не признается в соответствии с законодательством РФ выходным и/или праздничным (нерабочим) днем.</p>
			
<p style="font-size: 9px; font-style: italic;"><br><sup>3</sup>Адресная заявка может быть выставлена на любое количество Ценных бумаг в пределах их общего количества, указанного в п. 1 настоящего Договора. При этом количество Ценных бумаг в Адресной заявке и Заявке об исполнении опциона должны совпадать. В течение срока (периода) реализации права на исполнение опциона может быть подано несколько адресных заявок на основании настоящего Договора, при условии, что общее количество Ценных бумаг по таким заявкам не будет превышать общее количество Ценных бумаг, указанное в п. 1 настоящего Договора и будет совпадать с количеством Ценных бумаг, указанным в Заявке (Заявках) об исполнении опциона. 
			</p>
<table style="width: 100%;">
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>настоящего Договора и зачислению указанным депозитарием на счет депо Продавца опциона на основании поручений Брокера, выступающего в качестве оператора счета депо в понимании действующего «Клиентского регламента депозитария «Акционерного общества «Инвестиционная компания «НФК – Сбережения» (Условия осуществления депозитарной деятельности)» на основании Заявки об исполнении опциона, при этом сделка купли-продажи Ценных бумаг осуществляется Брокером самостоятельно.В случае предъявления Покупателем опциона Требования Продавцу опциона, Продавец опциона обязуется приобрести у Покупателя опциона Ценные бумаги по их номинальной стоимости, действующей на дату фактического исполнения опциона, а также выплатить накопленный купонный доход на дату фактического исполнения опциона и произвести расчет с Покупателем опциона в срок не позднее 3 (Трех) рабочих дней с даты истечения опциона, указанной в п. 2 настоящего Договора.</p>
		</td>
	</tr>
</table>
<br><br>
<table style="width: 100%;">
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>2) Стороны могут согласовать иной порядок исполнения опциона.</p> 
		</td>
	</tr>
</table>
<p>5. В случае предъявления Покупателем опциона Требования Продавцу опциона, Продавец опциона обязуется приобрести у Покупателя опциона Ценные бумаги по их номинальной стоимости, действующей на дату фактического исполнения опциона, а также выплатить накопленный купонный доход на дату фактического исполнения опциона и произвести расчет с Покупателем опциона в срок не позднее 3 (Трех) рабочих дней с даты истечения опциона, указанной в п. 2 настоящего Договора.</p>
<p>Требование Покупателя опциона об исполнении опциона удовлетворяется посредством принятия Продавцом опциона Адресной заявки, указанной в подп. 1 п. 3 настоящего Договора, если опцион не был исполнен в порядке, предусмотренном подп. 1 п. 4 настоящего Договора, либо Сторонами не был предварительно согласован иной порядок исполнения опциона.</p>
<p>Продавец опциона, действуя через Брокера или лично, вправе отказать в исполнении опциона по заявке, полученной в порядке, указанном в подп. 1 п. 3 настоящего Договора, в случае если Заявка об исполнении опциона содержит номер Адресной заявки, который отсутствует в числе поданных Адресных заявок или Адресная заявка не соответствует параметрам, установленным настоящим Договором.</p> 
<p>6. Опцион может быть исполнен частично в пределах объема Ценных бумаг, указанных в Адресной заявке (Адресных заявках), если Покупатель опциона предъявит Требование о выкупе с указанием меньшего количества Ценных бумаг, чем указано в п. 1 Договора.</p>
<p>7. Обязательство Продавца опциона, указанное в п. 1 настоящего Договора, прекращается, опционная премия, уплаченная в соответствии с п. 2 настоящего Договора, возврату не подлежит в любом из следующих случаев:</p>
<table style="width: 100%;">
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>1) непредъявления Покупателем опциона Заявки об исполнении опциона Продавцу опциона и/или Адресной заявки в течение срока, указанного в п. 3 настоящего Договора, если при этом одновременно не исполняются условия, предусмотренные п. 4 настоящего Договора;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>2) несоблюдения требований п. 3 настоящего Договора, предъявляемых к Адресной заявке, если при этом одновременно не исполняются условия, предусмотренные п. 4 настоящего Договора;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>3) несоблюдения последовательности совершения действий, предусмотренных п. 3 настоящего Договора, если при этом одновременно не исполняются условия, предусмотренные п. 4 настоящего Договора;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>4)	предъявления Заявки об исполнения опциона по неустановленной форме либо предъявления Заявки, содержащей не все, предусмотренные настоящим Договором, сведения;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>5)	неисполнения Покупателем опциона порядка исполнения опциона, предусмотренного подп. 1 п. 4 настоящего Договора, если при этом одновременно не исполняются условия п. 3 настоящего Договора, и Стороны не согласовали иной порядок исполнения опциона;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>6) неисполнения Покупателем опциона иного порядка исполнения опциона, если такой порядок был согласован Сторонами;</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>7)	на момент подачи Заявки об исполнении опциона и/или на дату истечения опциона либо до момента отмены такой Заявки Адресная заявка с номером, указанным в соответствующей Заявке об исполнении опциона, отменена, если при этом одновременно не исполняются условия, предусмотренные п. 4 настоящего Договора.</p>
		</td>
	</tr>
	<tr><td></td><td></td></tr>
	<tr>
		<td style="width: 1%;"></td>
		<td style="width: 99%;">
			<p>8) со стороны Покупателя опциона в рамках настоящего Договора поданы, действуют одновременно и не отменены Заявки об исполнении опциона на общее количество Ценных бумаг, превышающее количество, указанное в п. 1 настоящего Договора.</p>
		</td>
	</tr>
</table>
<p>8. Опционная премия, уплаченная в соответствии с п. 2 настоящего Договора возврату не подлежит, в том числе в случае исполнения опциона или в случае досрочного погашения Ценных бумаг или в случае уменьшения номинальной стоимости Ценных бумаг к моменту фактического исполнения опциона, в связи с частичным досрочным погашением Ценных бумаг.</p>
<p>9. Обязательство Продавца опциона, вытекающее из настоящего Договора, обеспечивается поручительством Эмитента Ценных бумаг – ООО «Пионер-Лизинг» (далее – Эмитент) путем полного и безоговорочного акцепта Покупателем опциона безотзывной публичной оферты Эмитента, опубликованной 13 марта 2019 г. в 17:53:13 на странице в сети Интернет по адресу: https://disclosure.skrin.ru/disclosure/2128702350 (далее – Оферта). Заключая настоящий Договор, Покупатель опциона выражает полный и безоговорочный акцепт указанной в настоящем пункте Договора безотзывной оферты Эмитента. Договор поручительства, которым обеспечивается исполнение обязательств Продавца опциона по настоящему Договору, считается заключенным с момента заключения Покупателем опциона настоящего Договора, при этом письменная форма договора поручительства считается соблюденной.</p> 
<p>10. При неисполнении или ненадлежащем исполнении должником обеспеченного поручительством обязательства поручитель (Эмитент) и должник (Продавец опциона) отвечают перед кредитором (Покупателем опциона) солидарно.</p>
<p>11. Настоящий Договор заключен Брокером в соответствии со ст. ст. 182, 1005 Гражданского кодекса Российской Федерации, ст. 3 Федерального закона «О рынке ценных бумаг» от имени и по поручению лиц, указанных в преамбуле к настоящему Договору, заключивших с брокером договор на брокерское обслуживание. Права и обязанности по настоящему Договору возникают непосредственно у представляемых лиц, указанных в преамбуле к настоящему Договору. Брокер не является лицом, обязанным перед Покупателем опциона по настоящему Договору, в том числе по обязательству приобрести (выкупить) Ценные бумаги у Покупателя опциона за свой счет.</p> 
<p>12. Неисполнение Покупателем опциона обязанности по уплате опционной премии, предусмотренной в п. 2 настоящего Договора, в том числе нарушение сроков, предусмотренных Договором, является существенным нарушением настоящего Договора и безусловным основанием для прекращения настоящего Договора. В этом случае настоящий Договор и обязательства, возникшие из настоящего Договора, считаются прекратившимся в первый рабочий день, следующий за днем истечения срока по уплате опционной премии.</p> 
<p>13. Настоящий Договор действует в течение срока, на который предоставляется опцион, а в части исполнения денежных обязательств – до их полного исполнения. </p>
<p>14. Настоящий договор составлен и подписан в 2 (Двух) экземплярах. </p>
<p style="text-align: center; font-weight: bold;">15. АДРЕСА И РЕКВИЗИТЫ СТОРОН</p>
<style>
	.grey_line td{
		border: 1px solid #e8e8e8;		
	}
</style>

<table class="grey_line" cellpadding="2">
	<thead>
		<tr>
			<td style="width: 15%;">Реквизиты</td>
			<td style="width: 35%;">Продавец опциона</td>
			<td style="width: 15%;">Реквизиты</td>
			<td style="width: 35%;">Покупатель опциона</td>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td style="width: 15%; padding: 20px;">Наименование</td>
			<td style="width: 35%;">ООО «НФК-СИ»</td>
			<td style="width: 15%;">ФИО</td>
			<td style="width: 35%;">%FIO_USER%</td>
		</tr>
		<tr>
			<td>Адрес</td>
			<td>428001, Чувашская Республика,<br>г. Чебоксары, пр. М. Горького,<br>д. 5, корп. 2, пом. 1</td>
			<td>Адрес</td>
			<td>%USER_ADRESS%</td>
		</tr>
		<tr>
			<td>Телефон</td>
			<td>+7 (8352) 623373</td>
			<td>Телефон</td>
			<td>%PHONE%</td>
		</tr>
		<tr>
			<td>ИНН/КПП</td>
			<td>2130207144/213001001</td>
			<td>ИНН/КПП</td>
			<td>%INN%</td>
		</tr>
		<tr>
			<td>Р/C</td>	
			<td>40702810429040002854</td>
			<td>Р/C</td>
			<td>%PayS%</td>
		</tr>
		<tr>
			<td>Банк</td>
			<td>Филиал «Нижегородский»<br>АО «Альфа-Банк», г. Нижний Новгород</td>
			<td>Банк</td>
			<td>%NAME_BANK%</td>
		</tr>
		<tr>
			<td>БИК</td>
			<td>042202824</td>
			<td>БИК</td>
			<td>%BIC%</td>
		</tr>
		<tr>
			<td>К/C</td>
			<td>30101810200000000824</td>
			<td>К/C</td>
			<td>%KOR_SH%</td>
		</tr>
		<tr>
			<td>ОГРН</td>
			<td>1182130013669</td>
			<td>Паспорт </td>
			<td>%PASS%</td>
		</tr>
	</tbody>
</table>
<p style="text-align: center; font-weight: bold;margin-bottom: 10px">ПОДПИСИ УПОЛНОМОЧЕННЫХ ПРЕДСТАВИТЕЛЕЙ И ПЕЧАТИ СТОРОН</p>
<table>
	<tr><td></td><td></td><td></td></tr>
	<tr><td></td><td></td><td></td></tr>
	<tr>
		<td style="width: 35%; border-top: 1px solid #000;"></td>
		<td style="width: 30%;"></td>
		<td style="width: 35%; border-top: 1px solid #000;"></td>
	</tr>
</table>