<style>
	.contract-att{
		font-size: 12px;
		width: 100%;
	}
	.right-title {
		width: 40%;
		font-size: 12px;
		float: right;  
	}
	.main_table, .main_table td {
			border: solid 1px #000;			
		}
</style>
<div class="contract-att">
	<table>
		<tr>
			<td style="width: 57%;"></td>
			<td style="width: 43%;">Приложение № 1 к Опционному договору (контракту) на право продажи ценных бумаг (Опциону Put) № _______ <br>от «___»________ 20__ г.</td>
		</tr>
	</table>	 
	<p style="text-align: center; font-weight: bold; font-size: 14px;">Заявка об исполнении опциона № </p>
	<p style="text-align:right;">Дата заявки:</p>
	<p>
	Данная Заявка об исполнении опциона является волеизъявлением Покупателя опциона реализовать свое право на исполнение опциона посредством продажи указанных ниже Ценных бумаг Продавцу опциона.
	</p>
	<table class="main_table">
		<tr>
			<td>Номер опциона и дата</td>
			<td></td>
		</tr>
		<tr>
			<td>Покупатель опциона</td>
			<td></td>
		</tr>
		<tr>
			<td>Ценные бумаги</td>
			<td>Биржевые облигации документарные процентные неконвертируемые с обязательным  централизованным хранением серии ________________ (идентификационный номер  выпуска ___________ от ______, ISIN ____________)  </td>
		</tr>
		<tr>
			<td>Количество ценных бумаг, в отношении которых требуется исполнить опцион</td>
			<td></td>
		</tr>
		<tr>
			<td>Учет прав на Ценные бумаги, принадлежащие Покупателю опциона, осуществляется в депозитарии Акционерного общества «Инвестиционная компания «НФК-Сбережения»</td>
			<td>[   ]  да [   ] нет</td>
		</tr>
		<tr>
			<td>Номер Адресной заявки (в случае, если учет прав на Ценные бумаги, принадлежащие Покупателю опциона, осуществляется в ином депозитарии)</td>
			<td></td>
		</tr>
	</table>
	<table class="main_table">
		<tr>
			<td>Подпись Покупателя опциона</td>
			<td></td>
		</tr>
	</table>
	<br><br>
<table>
		<tr style="background-color: #e2e1e1;">
			<td>
				<p style="text-align: center;">СЛУЖЕБНЫЕ ОТМЕТКИ</p>
			</td>
		</tr>
	</table>
	<br><br>
	<table style="border: 1px solid #000;">
		<tr>
			<td>
				<br><br>
				&nbsp;Заявка получена «____» _________20__ г. в ___ час. _____ мин.
				<br>
				<br>
			</td>
		</tr>
		<tr>
			<td>&nbsp;__________________/___________________/</td>
		</tr>
		<tr>
			<td>&nbsp;(подпись и Ф.И.О. сотрудника АО «НФК-Сбережения»)<br></td>
		</tr>
	</table>
	<p style="font-size: 10px;">* Заполнять если применимо в отношении данного финансового инструмента. Наличие незаполненных полей в настоящем Поручении не влечет за собой его недействительность, если информация, содержащаяся в Поручении, позволяет однозначно определить существенные условия сделки.
	</p>
	<p style="font-size: 10px;">**Для финансового инструмента (группы финансовых инструментов), не имеющих на момент подачи поручения индивидуальных признаков указываются однозначные условия определения финансового инструмента.</p>
	<table>
		<tr>
			<td>Я подтверждаю вышеуказанные условия сделки</td>
			<td></td>
		</tr>
		<tr>
			<td style="border: 1px solid #000;"><br>&nbsp;Подпись Клиента / представителя клиента<br></td>
			<td style="border: 1px solid #000;"><br>%SIGNATURE%<br></td>
		</tr>
	</table>
	<table>
		<tr>
			<td><br><br>Принял:</td>
			<td></td>
		</tr>
		<tr>
			<td>Дата принятия:	«____» _________20__ г.</td>
			<td></td>
		</tr>
		<tr>
			<td>Время принятия:</td>
			<td>Подпись представителя брокера:___________________</td>
		</tr>
	</table>


</body>
</html>