.cardDogovor .cardDogovor-boxTool .btn {
    width: 100%;
    margin-bottom: 30px;
}

.cardDogovor .cardDogovor-boxViewText {
    max-height: 800px;
    overflow-y: scroll;
    background: #fdfdfd;
    padding: 10px;
    min-height: 800px;
    margin-bottom: 60px;
}


/*Окно редактирования текста*/

.cardDogovor-boxViewText .dogovor-title {
    text-align: center;
}


/*cardDogovor-boxTool*/

.cardDogovor-boxTool .select-dogovotTemplate select {
    background: #f1f4f4;
    border: none;
    margin-bottom: 50px;
}

.cardDogovor-boxTool .select-dogovotTemplate select option {
    background: #f1f4f4;
    border: none;
}