.message-list{
    margin-top: -40px;
}
.message-block{
    display: flex;
}
.message-block-right .message-person-photo{
    order: 0;
    margin-right: 30px;
}
.message-block-right .message-container{
    order: 1;
}
.message-block-right .message-container time{
    text-align: right;
}
.message-block-left .message-person-photo{
    order: 1;
    margin-left: 30px;
}
.message-block-left{
    justify-content: flex-end;
}
.message-block-left .message-container{
    order: 0;
}
.message-block-left .message-container time{
    text-align: left;
}
.message-person-photo{
    margin-top: 86px;
}
.message-container{
    margin-top: 25px;
    max-width: calc(100% - 99px);
}
.message-message{
    max-width: 100%;
    margin-top: 26px;
    display: inline-block;
}
.message-message time{
    display: block;
    color: #a8a8a8;
    font-size: 14px;
}
.message-content{
    background-color: #f1f4f4;
    border-radius: 7px;
    margin-top: 11px;
    overflow: hidden;
}
.message-text{
    padding: 20px;
    max-width: 100%;
}
.message-text p{
    white-space: pre-wrap;
    max-width: 100%;
}
.message-text__file{
    display: flex;
    align-items: center;
    max-width: 300px;
    margin-bottom: 10px;
}
.message-text__img{
    max-width: 100%;
    /* height: 100%; */
    margin-right: 5px;
}
.message-image img{
    max-width: 100%;
}
.user-avatar{
    width: 69px;
    height: 69px;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}
.user-first-letter{
    font-size: 41px;
    text-transform: uppercase;
    color: #c3c3c3;
    font-weight: bold;
}
.user-avatar img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.message-chat-input{
    display: flex;
    align-items: flex-start;
    margin-top: 61px;
    width: 100%;
}
.message-chat-input button{
    display: block;
    background: none;
    border: none;
    padding: 0;
    margin-bottom: 5px;
    cursor: pointer;
}
.message-chat-input textarea{
    border: 1px solid #e8e8e8;
    border-radius: 7px;
    height: 74px;
    padding: 12px 18px;
    overflow: hidden;
    resize: none;
    flex-grow: 1;
}
.message-chat-input__buttons_clip img{
    height: 30px;
}
.list-person-conversation{
    padding-left: 12px;
}
.list-person-conversation .person-conversation{
    list-style: none;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f2f2f2;
    height: 75px;
    text-decoration: none;
    color: #0a0a0a;
}
.list-person-conversation .person-conversation:last-child{
    border-bottom: none;
}
.list-person-conversation .person-conversation-photo{
    width: 41px;
    min-width: 41px;
    height: 41px;
    background-color: #e8e8e8;
    border-radius: 50%;
    margin-right: 15px;
    overflow: hidden;
}
.list-person-conversation .person-conversation-photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn-add-person{
    min-height: 46px;
    margin-top: 4px;
}

p.user-name-left{
    text-align: left;
    font-weight: 500;
}

p.user-name-right{
    text-align: right;
    font-weight: 500;
}