.cardPact h3 {
    font-weight: 900;
}

.cardPact .cardPact-box {
    width: 100%;
    overflow: hidden;
    border: solid 1px #ff6416;
    margin: 10px auto;
    position: relative;
    text-align: center;
}

.cardPact .cardPact-box img {
    width: auto;
    max-width: 100%;
    /*min-height: 320px;
    min-width: 320px;*/
}

.cardPact-rightPanel .btn {
    width: 100%;
    margin-bottom: 30px;
}

.cardPact .save {
    width: 165px;
    margin: 14px 0 30px 0;
    float: right;
}

.disable_a {
    cursor: default;
}

.editbox {
    width: 100%;
    border: solid 1px #ff6416;
    margin: 60px 0 0 0;
    border-radius: 0.25rem;
    background: #f1f4f4;
    min-height: 200px;
    padding: 10px;
}


/*.cardPact-EditText-Descript,
.cardPact-EditText-Ð¡onditions {
    margin-bottom: 0;
}*/

.cardPact-EditText {
    margin-bottom: 60px;
}

.cardPact-rightPanel h1 {
    color: #000;
    border: solid 1px #ff6416;
    border-radius: 5px;
    padding: 15px 17px;
    margin-bottom: 0px;
    font-size: 2.2rem;
}

.selectbox {
    color: #000;
    border: solid 1px #ff6416;
    border-radius: 5px;
    padding: 15px 17px;
    /*background: #f1f4f4;*/
    margin: 50px 0 0 0;
    font-size: 2.2rem;
    position: relative;
}

.cardPact-rightPanel h1 span {
    padding: 0 5px;
    background: #e7ecec;
    min-width: 200px;
    display: inline-block;
    margin-right: 5px;
}

.cardPact-box-edit {
    width: 100%;
    height: 400px;
    position: relative;
    padding: 0px;
    border-radius: 0.25rem;
    background: #f1f4f4;
    overflow: hidden;
}

.cardPact-box-edit #cardPact-box-edit-add_img,
.cardPact-box-edit #cardPact-box-edit-rem_img,
.cardPact-box-BoxMainImg .cardPact-box-edit-rem_img{
    border: 4px #fff dashed;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    padding: 9px 33px;
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    margin: -50px;
}

.cardPact-box-edit #cardPact-box-edit-add_img span,
.cardPact-box-edit #cardPact-box-edit-rem_img span,
.cardPact-box-BoxMainImg .cardPact-box-edit-rem_img span {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
}

.cardPact-box-BoxMainImg .cardPact-box-edit-rem_img{
    display: none;
}

.cardPact-box-BoxMainImg:hover .cardPact-box-edit-rem_img{
    display: block;
}


.cardPact-rightPanel a.cardPact-rightPanel-url {
    color: #ff6416;
    margin-bottom: 10px;
    display: inline-block;
}

.select_category {
    position: absolute;
    z-index: 500;
    background: #fff;
    border: 1px solid #ff6416;
    padding: 14px;
    font-size: 16px;
    width: calc(100% + 2px);
    top: 50px;
    left: -1px;
    border-top: none;
    border-radius: 0 0 5px 5px;
    display: none;
}

.view_text {
    font-size: 16px;
    cursor: pointer;
}

.view_text .glyphicon {
    color: #9E9E9E;
    float: right;
    font-size: 20px;
}

#param_selected_activ_date_input{
    border: none;
    width: 140px;
    height: auto;
    outline:none;
    background-color: initial;
}

.cart-tab{
    margin: 10px 0;
    text-align: center;
}

.cart-tab .js-rem_img, .cart-tab .js-submit_selection{
    margin: 8%;
}

button.btn {
    border-radius: 5px;
    padding: 10px 30px;
}

.rotate_left:before{
    content: url("./img/rotate_left.svg");
}

.rotate_right:before{
    content: url("./img/rotate_right.svg");
}