.global-unread-message-count {
    position: absolute;
    top: -11px;
    right: 320px;
    color: #ff6600;
    font-size: 14px;
}
@media screen and (max-width: 1200px) {
    .global-unread-message-count {
        right: 282px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1023px) {
    .global-unread-message-count {
        top: 4px;
        right: 284px;
    }
}
@media screen and (max-width: 991px) {
    .global-unread-message-count {
        top: -6px;
        right: 217px;
        font-size: 10px;    
    }
}
@media screen and (max-width: 767px) {
    .global-unread-message-count {
        top: 185px;
        left: 100px;
        font-size: 14px;
    }
}