#select_category_main {
    position: absolute;
    background-color: #fff;
    padding: 10px;
    left: 100%;
    margin-left: -244px;
    box-shadow: 1px 9px 11px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    top: 95px;
    display: none;
}
#select_category_main::after {
    content: '';
    position: absolute;
    right: 20px;
    top: 0;
    border: 10px solid transparent;
    border-top: 10px solid #fff;
}
#select_category_main li{
    list-style-type: none;
    margin: 10px;
}

.chevron-down::after {
    content: ">";
    display: inline-block;
    position: relative;
    left: 5px;
    transform: rotate(90deg);
}