.video_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
video {
    cursor: pointer;
    max-width: 100%;
    width: 418px;
    max-height: 226px;
    border-radius: 6px;
}