<div class="contract-att">
		<table>
			<tr>
				<td style="width: 60%;"></td>
				<td style="width: 40%;">Приложение № 1 к Опционному договору (контракту) на право продажи ценных бумаг (Опциону Put) № _________ от ___________</td>
			</tr>
		</table>	 
		<p style="text-align: center; font-weight: bold; font-size: 14px;">Заявка об исполнении опциона № </p>
		<p style="text-align:right;">Дата заявки:</p>
		<p>
		Данная Заявка об исполнении опциона является волеизъявлением Покупателя опциона реализовать свое право на исполнение опциона посредством продажи указанных ниже Ценных бумаг Продавцу опциона.
		</p>
		<table class="main_table">
			<tr>
				<td>Номер опциона и дата</td>
				<td></td>
			</tr>
			<tr>
				<td>Покупатель опциона</td>
				<td></td>
			</tr>
			<tr>
				<td>Ценные бумаги</td>
				<td>Биржевые облигации документарные процентные неконвертируемые с обязательным  централизованным хранением серии ________________ (идентификационный номер  выпуска ___________ от ______, ISIN ____________)  </td>
			</tr>
			<tr>
				<td>Количество ценных бумаг, в отношении которых требуется исполнить опцион</td>
				<td></td>
			</tr>
			<tr>
				<td>Учет прав на Ценные бумаги, принадлежащие Покупателю опциона, осуществляется в депозитарии Акционерного общества «Инвестиционная компания «НФК-Сбережения»</td>
				<td>[   ]  да [   ] нет</td>
			</tr>
			<tr>
				<td>Номер Адресной заявки (в случае, если учет прав на Ценные бумаги, принадлежащие Покупателю опциона, осуществляется в ином депозитарии)</td>
				<td></td>
			</tr>
		</table>
		<table class="main_table">
			<tr>
				<td>Подпись Покупателя опциона</td>
				<td></td>
			</tr>
		</table>		
	</div>
</body>
</html>