<<<<<<< HEAD
<<<<<<< HEAD
.global-incoming_friends-count {
    position: absolute;
    top: 0px;
    right: 306px;
    background-color: #ff6600;
    color: #fff;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    font-size: 14px;
}
.freind-count .global-incoming_friends-count {
    top: 37px;
    left: 154px;
}
@media screen and (max-width: 991px) {
    .global-incoming_friends-count {
        right: 238px;
    }
    .freind-count .global-incoming_friends-count {
        top: 32px;
        left: 138px;
    }
}
@media screen and (max-width: 767px) {
    .global-incoming_friends-count {
        top: 187px;
        left: 103px;
    }
=======
=======
>>>>>>> d9fc60356232591f7133ff592e5fe98c9f412c53
.global-incoming_friends-count {
    position: absolute;
    top: -11px;
    right: 306px;
    color: #ff6600;
    font-size: 14px;
}
.freind-count .global-incoming_friends-count {
    top: 38px;
    left: 154px;
}
@media screen and (max-width: 1022px) {
    .global-incoming_friends-count {
        top: 4px;
    }
}
@media screen and (max-width: 991px) {
    .global-incoming_friends-count {
        top: -6px;
        right: 243px;
        font-size: 10px;
    }
    .freind-count .global-incoming_friends-count {
        top: 33px;
        left: 138px;
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    .global-incoming_friends-count {
        top: 143px;
        left: 103px;
        font-size: 14px;
    }
<<<<<<< HEAD
>>>>>>> d9fc60356232591f7133ff592e5fe98c9f412c53
=======
>>>>>>> d9fc60356232591f7133ff592e5fe98c9f412c53
}