.global-incoming_friends-count {
    position: absolute;
    top: -11px;
    right: 431px;
    color: #ff6600;
    font-size: 14px;
}
.freind-count .global-incoming_friends-count {
    top: 38px;
    left: 154px;
}
@media screen and (max-width: 1200px) {
    .global-incoming_friends-count {
        right: 383px;
        font-size: 12px;
    }
}
@media screen and (max-width: 1023px) {
    .global-incoming_friends-count {
        top: 4px;
    }
}
@media screen and (max-width: 991px) {
    .global-incoming_friends-count {
        top: -6px;
        right: 294px;
        font-size: 10px;
    }
    .freind-count .global-incoming_friends-count {
        top: 33px;
        left: 138px;
        font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
    .global-incoming_friends-count {
        top: 143px;
        left: 103px;
        font-size: 14px;
    }
}